{% extends 'layout.html' %}
{% block body %}
{% load crispy_forms_tags %}

<style>
  .gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }

  /* Ekle butonunu ortalamak için CSS */
  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .completed-task {
    text-decoration: line-through; /* Çizgi çizme stili */
    color: green; /* Tamamlanan görevin rengi */
  }
  
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#filter_option").on("change", function() {
            var filter_option = $(this).val(); // Seçilen filtre seçeneği
            window.location.href = "/dashboard?filter=" + filter_option;
        });
    });
    $(document).ready(function() {
      $("#sort_option").on("change", function() {
          var sort_option = $(this).val(); // Seçilen sıralama seçeneği
          window.location.href = "/dashboard/?sort=" + sort_option; // Sıralama seçeneğini URL'ye ekle
      });
  });
  
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link rel="stylesheet" href="styles.css">
<section class="vh-100 gradient-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card" id="list1" style="border-radius: .75rem; background-color: #f4f6f7;">
      <div class="card-body p-5">
        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
          <i class="fas fa-check-square me-1"></i>
          <u>My Todo's</u>
        </p>
        
        
        
        <!-- Tablo -->
        {% if todos %}
        <!-- Filtrele ve Sırala Alanları -->
        
 



        <div class="d-flex justify-content-between align-items-center mb-4 pt-2 pb-3">
          <div>
            <p class="medium mb-0 me-2 text-muted">Filtrele</p>
            <form>
              <select id="filter_option">
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>Hepsi</option>
                <option value="completed" {% if filter_option == 'completed' %}selected{% endif %}>Yapılanlar</option>
                <option value="incomplete" {% if filter_option == 'incomplete' %}selected{% endif %}>Yapılmayanlar</option>
                <option value="upcoming" {% if filter_option == 'upcoming' %}selected{% endif %}>Henüz tarihi geçmemişler</option>
            </select>
            
          </form>
          </div>
          <div>
            <p class="medium mb-0 ms-4 me-2 text-muted">Sırala</p>
            <select id="sort_option">
              <option value="created_date" {% if sort_option == 'created_date' %}selected{% endif %}>Eklenme Tarihine göre</option>
              <option value="due_date"{% if sort_option == 'due_date' %}selected{% endif %}>Bitiş Tarihine göre</option>
          </select>
          </div>
        </div>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Başlık</th>
              <th scope="col">Oluşturulma Tarihi</th>
              <th scope="col">Bitiş Tarihi</th>
              <th scope="col">Güncelle</a></th>
              <th scope="col">Sil</a></th>
            </tr>
          </thead>
       
          <tbody>
            {% for todo in todos  %}
            <tr>
              
              <td>
                <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"
                aria-label="..." onclick="window.location.href='/completed/{{ todo.id }}/'" {% if todo.completed %}checked{% endif %}/>
   
                <span class="{% if todo.completed %}completed-task{% endif %}">{{todo.title}}</span>
              </td>
              <td>{{todo.created_date}}</td>
              <td class="{% if todo.due_date < today %}text-danger{% endif %}">
                {{ todo.due_date|date:"d/m/Y" }}
            </td>
            
              <td>
                
                  <div class="text-center">
               
                  <a href="/editTodo/{{todo.id}}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo">
                    <i class="fas fa-pencil-alt me-3"></i>
                  </a>
                </div>
               
              </td>
            
              <td>
                <div class="text-center">
                  <a href="/deleteTodo/{{todo.id}}" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
              </td>
            </tr>
            
            {% endfor %}
            
          </tbody>
        </table>
        
        {% else %}
        <div class="d-flex justify-content-between align-items-center mb-4 pt-2 pb-3">
          <div>
            <p class="medium mb-0 me-2 text-muted">Filtrele</p>
            <form>
              <select id="filter_option">
                <option value="all" {% if filter_option == 'all' %}selected{% endif %}>Hepsi</option>
                <option value="completed" {% if filter_option == 'completed' %}selected{% endif %}>Yapılanlar</option>
                <option value="incomplete" {% if filter_option == 'incomplete' %}selected{% endif %}>Yapılmayanlar</option>
                <option value="upcoming" {% if filter_option == 'upcoming' %}selected{% endif %}>Henüz tarihi geçmemişler</option>
            </select>
            
          </form>
          </div>
          <div>
            <p class="medium mb-0 ms-4 me-2 text-muted">Sırala</p>
            <select id="sort_option">
              <option value="created_date" {% if sort_option == 'created_date' %}selected{% endif %}>Eklenme Tarihine göre</option>
              <option value="due_date"{% if sort_option == 'due_date' %}selected{% endif %}>Bitiş Tarihine göre</option>
          </select>
          </div>
        </div>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Başlık</th>
              <th scope="col">Oluşturulma Tarihi</th>
              <th scope="col">Bitiş Tarihi</th>
              <th scope="col">Güncelle</a></th>
              <th scope="col">Sil</a></th>
            </tr>
          </thead>
        </table>
        <div class="alert alert-danger text-center">To-do List Bulunmuyor</div>
        {% endif %}
        
        <!-- Ekle butonunu ortalamak için div -->
        <div class="center-button">
          <a type="submit" class="btn btn-danger" href="/addtodo">To-Do Ekle</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}          
            
