{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}
<style>
    .gradient-custom {
      background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
      background-blend-mode: screen, color-dodge, overlay, difference, normal;
    }
  
  
    .center-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="styles.css">
  <section class="vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card" id="list1" style="border-radius: .75rem; background-color: #f4f6f7;">
    <div class="card-body p-5">
        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
          <i class="fas fa-check-square me-1"></i>
          <u>My Todo's</u>
        </p>
        <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-danger">Güncelle</button>
                
            </form>
    </div>
</div>
        <div class="pb-2">
          <div class="card-body">
            <div class="d-flex flex-row align-items-center">
                <div class="pb-2">
                    <div class="card">
                        <div class="d-flex flex-row align-items-center">
                    
                        </div>
                    </div>
                    <br>
               
                
                </div> 
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
    

{% endblock body %}